body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* .fileimages {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 10px; 
} */

/* img {
    max-width: 500px;
    max-height: 500px;
} */

/* .fileimages2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto); 
    gap: 10px;  
}

.fileimages2 img {
    width: 100%; 
    height: auto;
}

ul {
    list-style-type: none;
  } */



.grid-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px; /* Adjust gap between images as needed */
}

.grid-item img {
width: 100%;
height: auto;
}